{% extends 'base.html.twig' %}

{% block title %} A propos{{ parent() }}{% endblock %}

{% block main %}
  <h2>A propos</h2>
  <p>Bienvenue sur TodoApp, votre nouveau gestionnaire de tâches ! </p>
  <p>Vous pouvez <a href="{{ path('todo_list')}}">afficher la liste  des tâches</a> ou ajouter tout de suite une nouvelle tâche</p>

  {% include('todo/_todo_add_form.html.twig') %}
  

{% endblock %}