{% extends 'base.html.twig' %}

{% block title %}Mes tâches{{parent()}}{% endblock %}

{% block main %}

  <h2>Liste des tâches</h2>

  <ul class="list-group mb-3">

    {% for todo in todos %}
    <li class="list-group-item">{{todo.task}}</li>
    {% endfor %} 
  
  </ul>
  
  {% include('todo/_todo_add_form.html.twig') %}
  
{% endblock %}