<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>
      {% block title %}Todolist{% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
  </head>
  <body>
    <header class="container">
      <h1>TodoApp</h1>
      <nav>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Todos</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
      {% block main %}{% endblock %}
    </main>
    {% block javascripts %}{% endblock %}
  </body>
</html>
